body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    background-color: #555;
    color: #fff;
    padding: 10px;
}

header img {
	background-image: url("img/banner.jpg");
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 500px;
	width: 100%;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #555;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
}

nav a:hover {
    background-color: #777;
}

main {
    padding: 20px;
}

figure {
	padding: 0.5em;
	margin: 0 1em 0.5em 1em;
	float: left;
	width: 35%;
	border: 1px solid black;
}
figcaption {
	font-size: 90%;
}
img {
	width: 100%;
}
